<h1>Zumbio! LiDAR Tests with Mobile Robot in Underground Mine</h1>
<br>
<div class="embed-responsive embed-responsive-16by9">
  <youtube-video class="embed-responsive-item" video-url="anotherGoodOne"></youtube-video>
</div>
<youtube-video video-url="anotherGoodOne" player-vars="playerVars" player-width="'100%'" player-height="'300px'"></youtube-video>
<button ng-click="bestPlayer.playVideo()">Play</button>
<button ng-click="bestPlayer.stopVideo()">Stop</button>
<br>
<br>
<br>
<br>

<h1>Zumbio! First XV-11 Neato LiDAR with Arduino Prototype</h1>
<br>
<div class="embed-responsive embed-responsive-16by9">
  <youtube-video class="embed-responsive-item" video-url="anotherGoodTwo"></youtube-video>
</div>
<youtube-video video-url="anotherGoodTwo" player-vars="playerVars" player-width="'100%'" player-height="'300px'"></youtube-video>
<button ng-click="bestPlayer.playVideo()">Play</button>
<button ng-click="bestPlayer.stopVideo()">Stop</button>
<br>
<br>
<br>
<br>

<!--
<h1>Zumbio! LiDAR Solutions Commercial May 2017</h1>
<br>
<div class="embed-responsive embed-responsive-16by9">
  <youtube-video class="embed-responsive-item" video-url="anotherGoodThree"></youtube-video>
</div>
<youtube-video video-url="anotherGoodThree" player-vars="playerVars" player-width="'100%'" player-height="'300px'"></youtube-video>
<button ng-click="bestPlayer.playVideo()">Play</button>
<button ng-click="bestPlayer.stopVideo()">Stop</button>
<br>
<br>
<br>
<br>-->

<h1>Zumbio! Corporate Factsheet</h1>

<div id="example1"></div>
<script>PDFObject.embed("images/Zumbio_Mobile-Lidar-Solutions_Corporate-FactSheet_May-2017.pdf", "#example1");</script>
<!-- <object data="images/Zumbio_Mobile-Lidar-Solutions_Corporate-FactSheet_May-2017.pdf"></object> -->
<br>
<div class="container">
  <p class="lead">Download the file by clicking below.</p>
  <a target="_blank" href="images/Zumbio_Mobile-Lidar-Solutions_Corporate-FactSheet_May-2017.pdf" download="file.pdf" class="btn btn-info btn-lg custom">Download</a>
</div>
